@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ứng dụng hiện chưa cấu hình dịch vụ gửi email thực tế, xem <a href="https://aka.ms/aspaccountconf">hướng dẫn này</a> để thiết lập.
    Thông thường bạn sẽ nhận được email với đường dẫn sau: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Nhấn vào đây để xác nhận tài khoản</a>
</p>
    }
    else
    {
<p>
        Vui lòng kiểm tra email để xác nhận tài khoản của bạn.
</p>
    }
}

