@page
@model Disable2faModel
@{
    ViewData["Title"] = "Tắt xác thực hai yếu tố (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Thao tác này chỉ tắt xác thực hai yếu tố.</strong>
    </p>
    <p>
        Việc tắt 2FA không thay đổi khóa trong ứng dụng xác thực. Nếu muốn thay đổi khóa, bạn nên <a asp-page="./ResetAuthenticator">đặt lại khóa xác thực</a>.
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Tắt 2FA</button>
    </form>
</div>
